<form method="post" action="/image" class="container p-5">
  <div class="mb-3">

    <input
      type="text"
      class="form-control"
      id="fomrulario"
      name="url"
      placeholder="Favor ingresar una url desde pagina pexels para probar"
    />
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-warning custom-btn">Save Image</button>
  </div>
</form>