<div class="container p-5">
  <div class="card p-5">
    <div class="card-body">
      <h2 class="text-center">El archivo se guardo exitosamente</h2>

      <a href="/">Volver al home</a>

    </div>

  </div>

</div>